[submodule "external/mimir"]
	path = external/mimir
	url = https://github.com/rafasaurus/mimir
[submodule "external/dwlb"]
	path = external/dwlb
	url = https://github.com/kolunmi/dwlb
[submodule "external/dwl"]
	path = external/dwl
	url = https://github.com/rafasaurus/dwl
[submodule "external/wlbubble"]
	path = external/wlbubble
	url = https://github.com/rafasaurus/wlbubble
