[submodule "dwm"]
	path = external/dwm
	url = git@github.com:rafasaurus/dwm
[submodule "slstatus"]
	path = external/slstatus
	url = git@github.com:rafasaurus/slstatus
[submodule "slock"]
	path = external/slock
	url = git@github.com:rafasaurus/slock
[submodule "dmenu"]
	path = external/dmenu
	url = git@github.com:rafasaurus/dmenu
[submodule "dwmblocks"]
	path = external/dwmblocks
	url = git@github.com:rafasaurus/dwmblocks
[submodule ".config/rofi/themes"]
	path = .config/rofi/themes
	url = https://github.com/adi1090x/rofi
[submodule "external/dwmblocks-async"]
	path = external/dwmblocks-async
	url = https://github.com/UtkarshVerma/dwmblocks-async
[submodule "external/mimir"]
	path = external/mimir
	url = https://github.com/rafasaurus/mimir
