[submodule "dwm"]
	path = .suckless.d/dwm
	url = git@github.com:rafasaurus/dwm
[submodule "slstatus"]
	path = .suckless.d/slstatus
	url = git@github.com:rafasaurus/slstatus
[submodule "slock"]
	path = .suckless.d/slock
	url = git@github.com:rafasaurus/slock
[submodule "dmenu"]
	path = .suckless.d/dmenu
	url = git@github.com:rafasaurus/dmenu
[submodule "dwmblocks"]
	path = .suckless.d/dwmblocks
	url = git@github.com:rafasaurus/dwmblocks
[submodule ".config/rofi/themes"]
	path = .config/rofi/themes
	url = https://github.com/adi1090x/rofi
[submodule ".suckless.d/dwmblocks-async"]
	path = .suckless.d/dwmblocks-async
	url = https://github.com/UtkarshVerma/dwmblocks-async
