[user]
	email = rafaelkgrigoryan@gmail.com
	name = rafasaurus
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    path = $EDITOR
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[includeIf "gitdir:~/workspace/"]
    path = workspace/.gitconfig-job
[includeIf "gitdir:~/sshfs/workspace/"]
    path = sshfs/workspace/.gitconfig-job
[includeIf "gitdir:~/sshfs1/workspace/"]
    path = sshfs1/workspace/.gitconfig-job
[core]
	autocrlf = input
    editor = $EDITOR
