#!/bin/sh

# This file runs when a DM logs you into a graphical session.

xwallpaper --zoom ~/.config/wall.png
compton --config ~/.config/compton/config -b
dwmblocks &
dunst &
xset r rate 300 50 &
xmodmap $HOME/.Xmodmap &
unclutter &
sxhkd &			# Bind keys with sxhkd
xrdb ~/.cache/wal/.Xresources # || xrdb ~/.Xresources # update x database
bluetoothctl power on &
com.gitlab.newsflash &
dropbox &
surf habitica.com &
xrandr -s 1920x1080 --dpi 115 &
pulseaudio &
syncthing &

if type firefox >/dev/null 2>/dev/null
then
	export BROWSER=firefox
fi

export BROWSER=firefox

xrdb ~/.cache/wal/.Xresources # || xrdb ~/.Xresources # update x database
notify-send "Welcome to Rice of RAFASAURUS"
