! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝

*.alpha: 0.40
*.font:	mono:pixelsize=17:antialias=true:autohint=true;
! *.font: mono:pixelsize=24:antialias=true:autohint=true;
*.cursorColor:	#00FF00
! *.font:     xft:LeagueMono-Bold:pixelsize=14
! colors: https://github.com/elenapan/dotfiles/tree/master/.xfiles
! skyfall
*background:  #2E2B35
*foreground:  #87FF5F
! *color0:      #1D1F21
! *color0:      #151515
*color0:      #151515
*color1:      #DB86BA
*color2:      #33AA45
*color3:      #E49186
*color4:      #75DBE1
*color5:      #B4A1DB
*color6:      #9EE9EA
! bash $
! *color7:      #F1FCF9
*color7:      #00FF00
*color8:      #465463
*color9:      #D04E9D
*color10:     #4BC66D
*color11:     #DB695B
*color12:     #3DBAC2
*color13:     #825ECE
*color14:     #62CDCD
*color15:     #E0E5E5

! rofi.color-enabled: false
! rofi.color-window: #4d32302f, #4d32302f, #0032302f
! rofi.color-normal: #0032302f, #d8dee9, #0032302f, #cc458588, #32302f
! rofi.color-active: #4d1b2b34, #6699cc, #4d343d46, #4d6699cc, #d8dee9
! rofi.color-urgent: #4d1b2b34, #ec5f67, #4d343d46, #4dec5f67, #d8dee9

rofi.font: mono 18
rofi.modi: run,ssh,window
rofi.separator-style: solid
rofi.show-icons: true
rofi.drun-icon-theme: Paper
rofi.sidebar-mode:    true
rofi.padding:         10
rofi.bw:              0
rofi.scrollbar-width: 0
rofi.line-margin:     0

rofi.lines: 10
rofi.terminal: st
rofi.case-sensitive: false
rofi.opacity: 0
rofi.fake-transparency: false

Xft.dpi: 105
Xcursor.size: 30
