! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝

*.alpha: 0.90
! *.font:	Fira Code:pixelsize=17:antialias=true:autohint=true;
*.font:	ComicCode-Roman:pixelsize=17:antialias=true:autohint=true;
*.cursorColor:	#00ff00

#define base00 {color0}
#define base01 {color1}
#define base02 {color2}
#define base03 {color3}
#define base04 {color4}
#define base05 {color5}
#define base06 {color6}
#define base07 {color7}
#define base08 {color8}
#define base09 {color9}
#define base0A {color10}
#define base0B {color11}
#define base0C {color12}
#define base0D {color13}
#define base0E {color14}
#define base0F {color15}


*.background:   base00
*.color0:       base00
*.color1:       base01
*.color2:       base02
*.color3:       base03
*.color4:       base04
*.color5:       base05
*.color6:       base06
*.color7:       base07
*.color8:       base08
*.color9:       base09
*.color10:      base0A
*.color11:      base0B
*.color12:      base0C
*.color13:      base0D
*.color14:      base0E

! *foreground: {foreground}
*foreground: #00ff00
*background: {background}

! rofi.font: mono 18
! rofi.modi: run,ssh,window
! rofi.separator-style: solid
! rofi.show-icons: true
! rofi.drun-icon-theme: Paper
! rofi.sidebar-mode:    true
! rofi.padding:         10
! rofi.bw:              0
! rofi.scrollbar-width: 0
! rofi.line-margin:     0
!
! rofi.lines: 10
! rofi.terminal: st
! rofi.case-sensitive: false
! rofi.opacity: 0
! rofi.fake-transparency: false

Xcursor.theme: macOSBigSur
Xft.dpi: 96
Xcursor.size: 28

! dwm 
! according to https://github.com/dylanaraps/pywal/blob/master/pywal/templates/colors-wal-dwm.h
dwm.normbgcolor: base00
dwm.normfgcolor: base0F
dwm.selbordercolor: base08
dwm.selbgcolor: base02
dwm.selfgcolor: base0F

! dmenu settings

dmenu.selforeground:	    #FFFFFF
dmenu.background:	        {background}
dmenu.selbackground:	    #0C73C2
dmenu.foreground:	        {foreground}
dmenu.font:	                "Charcoal 11"
